@font-face {
    font-family: 'Tiger Chest Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tiger Chest Regular'), url('TigerChest-yw6Le.woff') format('woff');
}

h1#header {
    font-family: 'Tiger Chest Regular';
    font-weight: 200;
    color:rgb(0, 200, 255);
    margin: 0.1em 0;

}